<div class="row-fluid">
  <div class="span5 offset1">
    <p>Tickets currently available on</p>
    <h1>0 date(s)</h1><br />
    <p>Tickets last available</p>
    <h1>1 day 23 hours ago</h1><br />
    <p>Tickets are available on the average of</p>
    <h1>5.46 days</h1>
    <p>or</p>
    <h1>3.2 working days</h1><br />
    <p>Time period tickets are most likely to be first released as available</p>
    <h1>7-9PM GST</h1><br />
  </div>
  <div class="span5">
    <form>
      <fieldset>
        <legend>Login</legend>
        <label>
          Email
          <a href="#" rel="popover" id="why-email" data-placement="right" data-content="You will only receive notification for the date you select in the next step. I will not send you spam or newsletter of any kind. Your email will <strong>not</strong>
          C be sold to a third-party." data-original-title="What your email will be used for">?
        </a>
      </label>
      <input type="text" placeholder="Type something..">
      <br />
      <br />
      <button type="submit" class="btn">Submit</button>
    </fieldset>
  </form>
  <div id="dpfields">
  <input type="text" class="span4 dp date-tracked"> <i class="icon-remove-sign icon-large"></i><br />
  
</div>
<a class="btn" id="more-date-btn"><i class="icon-plus"></i> Add more dates</a>
</div>
<div class="span1"></div>
</div>
<script>
$('.dp').datepicker();
$('#more-date-btn').click(function() {
  $('#dpfields').append('<input type="text" class="span4 dp date-tracked"> <i class="icon-remove-sign icon-large"></i><br />');
  $('.dp').datepicker();
})
</script>