<div class="row-fluid">
  <div class="span6">
    <h1>Hello, world!</h1>
  </div>
  <div class="span6">
    <form>
      <fieldset>
        <legend>Login</legend>
        <label>
          Email
          <a href="#" rel="popover" id="why-email" data-placement="right" data-content="You will only receive notification for the date you select in the next step. I will not send you spam or newsletter of any kind. Your email will <strong>not</strong>
          C be sold to a third-party." data-original-title="What your email will be used for">?
        </a>
      </label>
      <input type="text" placeholder="Type something..">
      <br />
      <br />
      <button type="submit" class="btn">Submit</button>
    </fieldset>
  </form>
</div>
</div>