<div class="row-fluid">
  <div class="span10 offset1">
    <% if @success %>
      <h2>You're successfully unsubscribed!<br /> Thanks for trying out this ticket tracker.</h2>

      <h3> If you have any comment regarding this website, please shoot me a quick email at veeraya.pupat [at] gmail.com </h3>
    <% else %>
      <h2>An error has occurred. Your email is not found in the database. </h2>
      <h3>If you think this is a mistake, I would be forever grateful if you could let me know via veeraya.pupat [at] gmail.com</h3>
    <% end %>
  </div>
</div>